/* CSS DOCUMENT */

body {
    background-color: honeydew;
    margin-left: 5em;
}

h1 {
    color: midnightblue;
    font-family: sans-serif;
    align-content: center;
}

h2 {
    color: burlywood;
    font-family: sans-serif;
    align-content: center;
}

h3 {
    color: burlywood;
}

li {
    list-style: square;
    font-family: serif;
}

ul {
    padding: 0;
}
