/* CSS DOCUMENT */

body {
	line-height: 1;
    background-color: cornsilk;
    margin: 0;
	padding: 0;
}

h1 {
    color:aqua;
    font-family: sans-serif;
}

h2 {
    color: burlywood;
    font-family: sans-serif;
}

h3 {
    color: burlywood;
}

li {
list-style: square;
    font-family: serif;

}
