/*CSS DOCUMENT*/

img {
    width: 50%;
    padding: 0em; 
    align-content: center;
}
img a {
    background-color: rgb(255, 255, 255);
}
h2 {
    font-weight: bold;
    background-color: rgb(255, 255, 255);
}
body {
    background-color:rgb(219, 236, 236);
    font-family:sans-serif;
}
nav ul {
    padding: 0em;
    margin: 0em;
    background-color: rgb(255, 255, 255);
}
nav ul li {
    display: inline;
    list-style-type: none;
    align-content: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 1em;
    margin-left: 1em;
    font-size: 1em;
    text-align: center;
}
nav ul li a {
    color:rgb(0, 0, 0);
    text-decoration: none;
}
nav ul li a:hover {
    color:rgb(219, 236, 236);
}
figure {
    width: 100%;
    margin: 0em 0em 0em 0em;
}
footer {
    align-content: center;
    background-color: rgb(255, 255, 255);
}




/*Please don’t change this CSS stylesheet for the content hierarchy assginment */
